html
  head
  link(rel='stylesheet', href='/assets/css/bootstrap-4/bootstrap.min.css', type='text/css' )
  link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous", type='text/css' )
  script(src='assets/js/angularjs/angular.min.js')
  script(src='api/starwarsApp.js')
  title= title 