html
  head
  link(rel='stylesheet', href='/assets/css/bootstrap-4/bootstrap.min.css', type='text/css' )
  link(rel='stylesheet', href='/assets/icons/fontawesome/css/all.min.css', type='text/css' )
  script(src='assets/js/angularjs/angular.min.js')
  script(src='api/starwarsApp.js')
  title= title 