include header.pug

body(ng-app="stwPlanetas")
  
  include nav.pug
  main(role="main" class="container" style="margin-top: 10%")
   div(class="row")
    div(class="col-md-6")
     div(class="panel panel-default")
      div(class="panel panel-body")
       div(class="panel panel-heading")
        legend  Star Wars API 
        p #{page}    
        
        div(ng-controller="planetasCtrlSWAPI" ) 

         table(class="table")
          thead(class="thead-dark")
           tr
            th(scope="col") #
            th(scope="col") Nome
            th(scope="col") Clima
            th(scope="col") Terreno
            th(scope="col") Link
           tbody(ng-repeat="p in listarPlanetas")
            tr
             th(scope="row")
             td {{p.name}}
             td {{p.climate}}
             td {{p.terrain}}
             td
              a(href="/swapi-films?name={{p.name}}") 
               i(class="fa fa-search")



include footer.pug